# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\MyCode\IDEAProjects\sakurasakura1996.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
